/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* TABLET STYLES: 760px to 1199px */
@media screen and (min-width: 760px) {

    .container {
        width: 706px;
        margin: 0 auto;
    }
    /* NOTHING ELSE! */ 
}

/* DESKTOP STYLES: ABOVE 1200px */
@media screen and (min-width: 1200px) {

    .container {
        width: 1168px;
        padding: 0 16px;
        margin: 0 auto;
    }

    /* ALL YOUR DESKTOP STYLES HERE */

}
nav a:link,
nav a:visited {
	display:block;
	text-align: center;
	color: #c78b07;
	font-size: 18px;
    padding-top:  17px;
	padding-bottom: 17px;
	text-decoration: none;
}

nav form{
	display: flex;
	flex-grow: 100;

}

header nav form input {
	width: 100%;
	height:35px;
	padding: 5px;
	font-size: 16px;

}

header nav form button {
	width: 35px;
	height: 35px;
	border: 2px solid #c78b07;
	color: #c78b07;
	padding: 0;
}

.logo{
	background-color: #c78b07;
	padding-top: 20px;
	padding-bottom: 20px;
}

nav li.current a:link,
nav li.current a:visited{
	background-color: #c78b07;
	color: black;
}
.header-welcome {
	background-image:url(../images/main-banner.jpg);
	background-size: cover;
	padding-top: 68px;
	 padding-bottom: 68px;
}
.header-welcome 
.container {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding-top:50px;
}
.header-welcome button{
	padding:1.5em;
	background-color: #c78b07;
	color: black;
	font-size: 20px;
}

.container-about{
	background-color: #ffe6ac;
	padding: 1rem;
}

.container-services{
display: flex;
background-color:white;
}

.grid-container-services{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
  }
  
  .item {
	background-color: lightblue;
	border: 1px solid black;
	padding: 20px;
  }
  
  .item:nth-child(1) {
	grid-column: 1 / 3;
  }

  .header-vision {
	background-image:url(../images/vision.jpg);
	background-size: cover;
	padding-top: 68px;
	padding-bottom: 68px;
  }
  .header-vision button{
	padding:1.5em;
	background-color: #c78b07;
	color: darkblue;
	font-size: 20px;
  }
  .grid-container-team{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	  }

.grid > div:nth-child(1), {
  background-image:url(../images/john.jpg);
  background-size:cover;
  grid-column:span2;
}

.grid > div:nth-child(4) {
background-image: url(../images/bob.jpg);
background-size: cover;
grid-column: span 2;
}
	  
	
	  
  
  
